body {
    font-family: 'Arial', sans-serif;
  }
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .hero-section {
    background: url('../IMAGENES/sara-dubler-Koei_7yYtIo-unsplash.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  .hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  .hero-section p {
    font-size: 1.5rem;
  }
  .btn-primary {
    background-color: #28a745;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
  }
  .btn-primary:hover {
    background-color: #218838;
  }
  .card {
    margin: 20px 0;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  .carousel-item {
    height: 500px; /* Altura del carrusel */
    background-size: cover;
    background-position: center;
  }
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
  }
  .carousel-caption h3 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .carousel-caption p {
    font-size: 1.2rem;
  }