body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #28a745;
}

.login-box .form-label {
    font-weight: bold;
    color: #333;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.login-box .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.login-box .form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25);
}

.login-box .form-check {
    text-align: left;
    margin-bottom: 20px;
}

.login-box .form-check-label {
    font-size: 0.9rem;
    color: #666;
}

.login-box .btn-success {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espacio entre botones */
}

.login-box .btn-success:hover {
    background-color: #218838;
}

.login-box .btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-box .btn-secondary:hover {
    background-color: #5a6268;
}

.login-box .text-muted {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-box .text-muted:hover {
    color: #28a745;
}
