body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.registro-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.registro-box h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #28a745;
}

.registro-box .form-label {
    font-weight: bold;
    color: #333;
}

.registro-box .btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espacio entre botones */
}

.registro-box .btn-success:hover {
    background-color: #218838;
}

.registro-box .btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.registro-box .btn-secondary:hover {
    background-color: #5a6268;
}