* {
    box-sizing: border-box;
}
p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}
.titulo{
    text-align: left;
}

.titulo h2{
    color: rgb(105, 105, 105);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contenedor_1 {
    display: flex;
}

.contenedor_2 {
    display: flex;
    margin-top: 20px;
}

.cuadros{
    margin-left: 20px;
}

.HUD , .imagensafa{
    display: inline-block;
}

.HUD ul{
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: #006493;
    margin-top: 20px;

}

.HUD li{
    display: inline;
    padding: 35px;
    font-size: 20px;
}

.HUD a{
    text-decoration: none;
    color: rgb(240, 240, 240);
}

.imagensafa{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.imagensafa img{
    width: 250px;
}

.imagen img{
    border: 10px solid #006493;
    width: 625px;
}

.cpec{
    color: #006493;
    border: 2px solid #006493;
    padding: 20px;
    border-radius: 40px;
}

.cpec p{
    text-align: center;
    font-size: 28px;
}

.cgran{
    color: #006493;
    border: 2px solid #006493;
    border-radius: 40px;
    margin-bottom: 15px;
    padding: 20px;
}

.cgran p{
    text-align: center;
    font-size: 46px ;
    margin: 40px;
}