* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../Imagenes/descarga.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    animation: fondo 15s linear infinite;
}
@keyframes fondo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%; 
    }
}
.elemento1 {
    display: inline-block; 
    padding: 10px;   
    margin: 10px; 
}

.elemento2 {
    display: inline-block; 
    padding: 10px;   
    margin: 10px;              
}

.elemento3 {
    display: inline-block; 
    padding: 10px;   
    margin: 10px;         
}


.elemento4 {
    display: inline-block; 
    padding: 10px;   
    margin: 10px;          
}


.elemento4 {
    display: inline-block; 
    padding: 10px;   
    margin: 10px;              
}


.elemento5 {
    display: inline-block; 
    padding: 10px;   
    margin: 10px;              
}


.elemento6 {
    display: inline-block; 
    padding: 10px;   
    margin: 10px;             
}


.elemento7 {
    display: inline-block; 
    padding: 10px;   
    margin: 10px;            
}

.forma {
    display: grid;
    grid-template-columns: 110px 1fr;
}

#noches {
    width: 50%;
    justify-self: right;
}

#mes {
    width: 50%;
    justify-self: right;
}

.Formulario {
    background-color: white;
    padding: 30px; 
    border-radius: 10px;
    border: 5px solid green; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    display: inline-block;
}

p {
    margin: 10px 0;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="reset"] {
    background-color: #d9534f;
    color: white;
}

button[type="submit"] {
    background-color: #5cb85c;
    color: white;
}
