* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-image: url(../Imagenes/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2, h3, label, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.cajas_superior, .cajas_inferior {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.cajas_superior {
    align-items: flex-start;
    margin-top: 10%;
}

.cajas_inferior {
    align-items: center;
    padding-top: 4%;
    margin-bottom: 4%;
    flex-wrap: wrap;
}


.caja {
    width: 20vw;
    height: 45vh;
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    margin: 0 0.5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.caja:hover {
    border-color: #6b0cca;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}


.imagen, .titulo, .texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img {
    max-width: 100%;
    height: 12%;
    width: 50%;
}

.titulo {
    padding: 1%;
}

h3 {
    text-align: center;
    font-weight: 600;
}

.texto p {
    text-align: center;
}

#ubi {
    padding: 2%;
}


.contenedor_formulario {
    width: 50%;
    height: 60vh;
    background-color: #000000;
    padding: 6%;
}

.contenedor_formulario form {
    display: flex;
    flex-direction: column;
    inset: 4px;
}

.contenedor_formulario form h2 {
    margin-bottom: 4vh;
    color: #fff;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.05em;
}

.contenedor_formulario form .fila {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_formulario form label {
    left: 0;
    pointer-events: none;
    font-size: 0.9em;
    color: #fff;
    letter-spacing: 0.05em;
}

.email {
    margin-right: 1.5%;
}

.nombre {
    margin-left: 1.5%;
}


.contenedor_formulario form input, textarea {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 1.2vh 0;
    border-bottom: 0.2vw solid white;
    font-size: 0.75em;
    color: #8f8f8f;
    letter-spacing: 0.05em;
    transition: 0.1s;
    margin-bottom: 2%;
}

.contenedor_formulario form input:valid,
.contenedor_formulario form input:focus,
#area textarea:valid,
#area textarea:focus {
    outline: none;
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-0.2vh);
}

#area {
    margin-bottom: 6%;
}

#area p {
    color: white;
}


.boton_centrao {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 100%;
    height: 3vh;
    background: #fff;
    color: #000000;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.gmaps {
    width: 50%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    
    body {
        overflow: auto;
    }

    .container {
        width: 90%;
        margin: 0 auto;
        padding: 2%;
        
    }

    .cajas_superior{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
    }
    .cajas_inferior {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 110%;
    }
    
    .caja {
        width: 28svw;
        height: 35vh;
        margin: 2%;
    }

    .imagen img {
        height: 12%;
        width: 20%;
    }

    .titulo {
        padding: 1%;
    }

    .texto p {
        font-size: 0.9em;
    }

    .contenedor_formulario {
        width: 100%;
        height: 56vh;
        padding: 2%;
    }

    .contenedor_formulario form h2 {
        margin-bottom: 4vh;
    }

    .contenedor_formulario form input,
    .contenedor_formulario form textarea {
        font-size: 1em;
    }

    .contenedor_formulario form label {
        font-size: 1em;
    }

    .boton_centrao {
        margin-top: 2%;
    }

    button {
        height: 3vh;
        font-size: 1em;
    }

    .gmaps {
        width: 100%;
        height: 60vh;
        position: relative;
    }
    
    iframe {
        position: absolute;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        border: none;
    }
}

@media only screen and (max-width: 481px) {
    .container {
        padding: 1%;
    }

    .cajas_superior {
        width: 100%;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cajas_inferior {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    .caja {

        width: 43vw;
        height: 39vh;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }

    .imagen img {
        height: 10vh;
        width: 40%;
    }

    .titulo {
        padding: 2%;
    }

    .texto p {
        font-size: 0.8em;
    }

    .contenedor_formulario {
        width: 100%;
        height: 55vh;
    }

    .contenedor_formulario form h2 {
        margin-bottom: 2vh;
    }

    .contenedor_formulario form input,
    .contenedor_formulario form textarea {
        font-size: 0.8em;
    }

    .contenedor_formulario form label {
        font-size: 0.8em;
    }

    .boton_centrao {
        margin-top: 2%;
    }

    button {
        height: 5vh;
        font-size: 1em;
    }

    .gmaps {
        width: 100%;
        height: 46vh;
        position: relative;
    }
    
    iframe {
        position: absolute;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        border: none;
    }
}
