body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #343a40 !important;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.card {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
}

.container {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #343a40;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-center {
    text-align: center;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card-title {
    color: #343a40;
    font-weight: bold;
}

.image-container {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.image-container img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}