/* Centrar todo el contenido de la página */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: orange;
}

/* Contenedor Web */
.contenedor_web {
  display: grid;
  width: 80vw;
  margin: 0 auto;
  gap: 2rem;
  justify-content: center;
}

/* Estilo para el menú de navegación */
.nav {
  display: grid;
  grid-template-columns: auto repeat(4, 1fr);
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  gap: 1rem;
  border-radius: 0.8rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav img {
  max-height: 60px;
  width: auto;
}

.nav h1 {
  font-size: 1.2rem;
  margin: 0;
  background-color: orange;
  color: black;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}

.nav h1 a {
  text-decoration: none;
  color: black;
  display: block;
}

.nav h1:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Contenedor principal */
.Contenedor_principal {
  display: grid;
  gap: 2rem;
  width: 100%;
  padding: 1vw;
}

/* Historia */
.Hisotoria {
  display: grid;
  gap: 1.5rem;
  padding: 2vw;
  background-color: #ffffff;
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.Hisotoria h1 {
  font-size: 2.2rem;
  margin: 0;
}

.Hisotoria p {
  font-size: 1.2rem;
  line-height: 1.8;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; 
}

/* Equipos */
.Equipos {
  display: grid;
  gap: 2vw;
  padding: 2vw;
  background-color: #ffffff;
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.Equipos h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}


.contenedor_equipos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vw;
}

.contenedor_equipos div {
  display: grid;
  gap: 1vw;
  justify-items: center;
  text-align: center;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.contenedor_equipos div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenedor_equipos img {
  width: 8vw;
  height: auto;
  max-width: 100px; 
  max-height: 100px;
}

.contenedor_equipos h2 {
  font-size: 1.3rem;
  margin: 0;
  color: black;
}

.contenedor_equipos a {
  text-decoration: none;
}

/* Supertecnicas */
.Supertecnicas {
  display: grid;
  gap: 2vw;
  padding: 2vw;
  background-color: #ffffff;
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.Supertecnicas h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.contenedor_supertecnicas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vw;
}

.contenedor_supertecnicas div {
  display: grid;
  gap: 1vw;
  justify-items: center;
  text-align: center;
  border: 2px solid #000000;
}

.contenedor_supertecnicas div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenedor_supertecnicas img {
  width: 13.8vw;
  height: auto;

}

.contenedor_supertecnicas h2 {
  font-size: 1.3rem;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .contenedor_equipos, .contenedor_supertecnicas {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav {
    grid-template-rows: auto repeat(2, 1fr);
    gap: 0.5rem;
    grid-template-columns: auto;
  }
  .contenedor_web{
    justify-content: center;
  }
  .contenedor_equipos h2{
    font-size: 0.9rem;
  }
  .contenedor_supertecnicas h2{
    font-size: 0.9rem;
  }
  .contenedor_imagen {
    display: flex;
    justify-content: center;
  }
}